<section class="bannersec" id="home" >
    <!-- <img src="../../../assets/images/banner.jpg" alt="banner" class="img-fluid"> -->

     <div class="container heroslider-container d-flex">
    <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
            <div class="hero-content">
                <h6 class="hero-sub-title" data-animation="fadeInUp" data-delay=".25s">
                    <!-- <i class="fa fa-helmet-safety"></i> -->
                     Build Your Dream Website
                     <span class="border-title"></span>
                </h6>
                <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                    Expert <span>Website</span> Designers & <span>Digital  </span>Marketers in Chennai 
                    <!-- We are the leader in <span>construction</span> company -->
                </h1>
                  <p>From branding to conversions we help your business stand out and succeed online.</p>
               
            </div>
        </div>
    </div>
</div>
</section>
