    <section class="protfolio__sec" id="protfolio">
        <div class="container">
            <div class="row">
                <h4 class="protfolio__title text-center mb-5">Our Protfolio</h4>
                <owl-carousel-o [options]="portfolioSlide">
                    <ng-template carouselSlide>
                        <div class="portfolio-img">
                            <img class="img-fluid" src="assets/images/protfolio/1.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="portfolio-img">
                            <img class="img-fluid" src="assets/images/protfolio/2.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="portfolio-img">
                            <img class="img-fluid" src="assets/images/protfolio/5.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="portfolio-img">
                            <img class="img-fluid" src="assets/images/protfolio/3.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="portfolio-img">
                            <img class="img-fluid" src="assets/images/protfolio/4.png" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
          </div>
    </section>